<!-- src/app/components/product/product.component.html -->

<ng-container *ngIf="product; else noProduct">
<mat-card class="dashboard-card">
  <mat-card-header>
    <div class="title-row">
      <span class="card-title">{{ product.title }}</span>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expandir</button>
        <button mat-menu-item>Eliminar</button>
      </mat-menu>
    </div>
  </mat-card-header>

  <div class="card-img-container">
    <img mat-card-image [src]="product.image" alt="{{ product.title }}" />
  </div>
  
  <mat-card-content class="dashboard-card-content">
    <p><b>Precio:</b> ${{ product.price }}</p>
    <p><b>Categoría:</b> {{ product.category }}</p>
    <p><b>Descripción:</b> {{ product.description }}</p>
  </mat-card-content>
</mat-card>


</ng-container>

<ng-template #noProduct>
  Producto no renderizado
</ng-template>
